<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="SoftwareVersion" value="Regular" />
  <add key="LoggingDirectory" value="C:\Logs" />
  <add key="UseJsonLogFormatter" value="false" />
  <add key="MinimumLoggingLevel" value="Information" />
</appSettings>